<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Appointment</title>
</head>
<body>
    <h1>Cancel Appointment</h1>
    <form action="/cancel_appointment" method="POST">
        <label for="cancel-appointmentname">Appointment Name:</label>
        <input type="text" id="cancel-appointmentname" name="cancel-appointmentname" required>
        
        <label for="cancel-email">Email:</label>
        <input type="email" id="cancel-email" name="cancel-email" required>

        <input type="submit" value="Cancel Appointment">
    </form>
</body>
</html>
